/* body {
	background-image: url(../assets/img/sideBar.png);
} */

.full-box{
	margin: 0;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
}
.cover{
	background: 50% 50% no-repeat;
	background-size: cover;
}
.container-404 {
    background-image: url(../assets/img/sideBar.png);
	color: rgb(255, 255, 255);
	height: 100vh;
	display: flex;
	align-items: center;
    justify-content: center;
	text-align: center;
	/* color: #fff; */
}